
.tech-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.tech{
    display: flex;
        align-items: center;
        width: 147px;
}

@media(max-width:560px){
    .tech-container{
        display: flex
;
    flex-direction: column;
    }
}



