body {
    // background-color: rgb(84, 82, 82);
    // background: linear-gradient(90deg, rgb(93 90 90), rgb(56 55 55) 100%);
    background: linear-gradient(90deg, rgb(92 91 91), rgb(63 63 63) 100%);
    color: white;
    font-family: sans-serif;

    // display: grid;
    // overflow-x: hidden;
    
}

.main-div{
    
    z-index: 0;
    // display: flex;
    // flex-direction: column;
    // background-color: rgba(240, 248, 255, 0);
    // overflow: hidden;
    // align-items: center;
    // height: 100vh;
    // width: 100vh;
}

.bg{
    // position: absolute;
    background-image: url(../public/images/bg.png);
    background-position-x: right;
}

@media(max-width:1370px){
    .bg{
        background-image: url(../public/images/bg1.png);
    }
}

@media(max-width:880px){
    .bg{
        background-image: url(../public/images/bg2.png);
    }
}

@media(max-width:760px){
    .bg{
        // background-image: url(../public/images/bg3.png);
        background-image: unset;
    }
}

@media(max-width:660px){
    .bg{
        // background-image: url(../public/images/bg4.png);
        background-image: unset;
    }
}
@media(max-width:470px){
    .bg{
        // background-image: url(../public/images/bg5.png);
        background-image: unset;
    }
}